/* Markup Calculator */
.repairTypes {
	min-height: 150px;
	padding-left: 0;
}

.ng-dirty.ng-invalid {
	border-color: red;
}

.ng-dirty.ng-valid {
	border-color: green;
}

/* RAM */
#storeCostCheckbox {
	margin-left: 10px;
}

