/* Markup Calculator */

#partCostDiv, #laborCostDiv, #totalCostDiv {
  padding: 1em;
}

#partCostDiv {
	text-align: center;
}

#markupInfo {
	list-style: none;
	text-align: left;
	padding-left: 0;
}

.repairTypes {
	padding-left: 0;
	text-align: center;
}

.repairTypes li {
	list-style: none;
	text-align: center;
}

.laborBtn, .hddLaborBtn {
	display: block;
	margin: 0 auto;
}

#partForm {
	text-align: center;
}

#totalRepairCost {
	margin-top: 2em;
}

#totalRepairCost h2 {
	text-align: center;
}

/* RAM */
#storeCostCheckbox {
	margin-left: 10px;
}

